body{
	margin:0;
	padding:0;
}
*{
	box-sizing: border-box;
}
.header{
	position: absolute;
	height: 54px;
	width: 100%;
	background-color: #DF01A5;
	z-index: 4;
}
.side-nav{
	position: absolute;
	width: 100%;
	background-color: blue;
	z-index: 3;
	padding-top: 54px;
	height: 100%;
}

.side-nav ul{
	list-style: none;
	padding:0;
	margin:0;
}
.side-nav ul li{
	padding:20px 10px;
	border-bottom: 1px solid #333;
}
.side-nav ul li a{
	color: #fff;
	text-decoration: none;
}
.side-nav ul li a i{
	color: #333;
}
.maincontent{
	margin:0;
	padding: 0;
	margin-top: 54px;
	margin-left: 54px;
	color: black;
	z-index: 2;
}


@media only screen and (min-width: 600px) {
	.side-nav{
		width: 80px;
	}
	.side-nav ul li{
		text-align: center;
	}
	.side-nav ul li span:nth-child(2){
		display: none;
	}
	.side-nav ul li i{
		font-size: 20px;
	}
}

@media only screen and (min-width: 1000px) {
	.side-nav{
		width:170px;
	}
	.side-nav ul li{
		text-align: left;
		margin-left: 5px;
	}
	.side-nav ul li span:nth-child(2){
		display: inline;
	}
	.side-nav ul li i{
		font-size: 25px;
	}

}